In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [2]:
cities_temp = pd.read_csv('Average Temperature of Cities.csv')

In [3]:
cities_temp.head()

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2\n(52.2),11.9\n(53.4),12.8\n(55.0),14.7\n(58.5),17.7\n(63.9),21.3\n(70.3),24.6\n(76.3),25.2\n(77.4),23.2\n(73.8),19.4\n(66.9),15.2\n(59.4),12.1\n(53.8),17.4\n(63.3),AFRICA
1,Algeria,Tamanrasset,12.8\n(55.0),15.0\n(59.0),18.1\n(64.6),22.2\n(72.0),26.1\n(79.0),28.9\n(84.0),28.7\n(83.7),28.2\n(82.8),26.5\n(79.7),22.4\n(72.3),17.3\n(63.1),13.9\n(57.0),21.7\n(71.1),AFRICA
2,Algeria,Reggane,16.0\n(60.8),18.2\n(64.8),23.1\n(73.6),27.9\n(82.2),32.2\n(90.0),36.4\n(97.5),39.8\n(103.6),38.4\n(101.1),35.5\n(95.9),29.2\n(84.6),22.0\n(71.6),17.8\n(64.0),28.3\n(82.9),AFRICA
3,Angola,Luanda,26.7\n(80.1),28.5\n(83.3),28.6\n(83.5),28.2\n(82.8),27.0\n(80.6),23.9\n(75.0),22.1\n(71.8),22.1\n(71.8),23.5\n(74.3),25.2\n(77.4),26.7\n(80.1),26.9\n(80.4),25.8\n(78.4),AFRICA
4,Benin,Cotonou,27.3\n(81.1),28.5\n(83.3),28.9\n(84.0),28.6\n(83.5),27.8\n(82.0),26.5\n(79.7),25.8\n(78.4),25.6\n(78.1),26.0\n(78.8),26.7\n(80.1),27.6\n(81.7),27.3\n(81.1),27.2\n(81.0),AFRICA

In [4]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Year']

In [5]:
# Cleaning the wikipedia data so as to have the temperature in Celsius only
for month in months:
    cities_temp[month] = cities_temp[month].apply(lambda x: x.split('\n')[0])

In [6]:
# Cleaning the continent column to be lower case
cities_temp['Continent'] = cities_temp['Continent'].apply(lambda x: x.lower())

In [7]:
for month in months:
    cities_temp[month] = cities_temp[month].astype(float)

In [8]:
cities_temp

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2,11.9,12.8,14.7,17.7,21.3,24.6,25.2,23.2,19.4,15.2,12.1,17.4,africa
1,Algeria,Tamanrasset,12.8,15.0,18.1,22.2,26.1,28.9,28.7,28.2,26.5,22.4,17.3,13.9,21.7,africa
2,Algeria,Reggane,16.0,18.2,23.1,27.9,32.2,36.4,39.8,38.4,35.5,29.2,22.0,17.8,28.3,africa
3,Angola,Luanda,26.7,28.5,28.6,28.2,27.0,23.9,22.1,22.1,23.5,25.2,26.7,26.9,25.8,africa
4,Benin,Cotonou,27.3,28.5,28.9,28.6,27.8,26.5,25.8,25.6,26.0,26.7,27.6,27.3,27.2,africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,Peru,Lima,22.1,22.7,22.2,20.6,18.8,17.5,16.7,16.2,16.4,17.3,18.7,20.7,19.2,south america
447,Peru,Piura,26.8,27.8,27.8,26.6,24.5,22.9,21.8,21.9,22.3,22.9,23.6,25.2,24.5,south america
448,Suriname,Paramaribo,26.0,26.0,26.2,26.7,26.5,26.5,26.7,27.4,27.8,27.9,27.3,26.4,26.8,south america
449,Uruguay,Montevideo,23.0,22.5,20.6,17.2,14.0,11.1,10.9,11.7,13.4,16.0,18.6,21.3,16.7,south america
450,Venezuela,Caracas,20.2,20.8,21.7,22.7,23.2,22.6,22.2,22.3,22.7,22.4,22.0,20.7,22.0,south america

In [9]:
# Which is the coldest city?
cities_temp[cities_temp['Year'] == cities_temp['Year'].min()]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
279,Canada,Gjoa Haven,-33.8,-34.0,-28.9,-20.4,-9.4,1.4,8.0,5.8,0.1,-9.5,-22.4,-29.9,-14.4,north america

In [10]:
# Which is the hottest city?
cities_temp[cities_temp['Year'] == cities_temp['Year'].max()]

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
30,Eritrea,Assab,26.3,26.7,28.5,30.5,32.0,33.1,35.0,34.6,32.9,31.2,28.8,26.9,30.5,africa

In [64]:
# Now we analysze the dataset containing population data
cities_pop = pd.read_csv('cities15000.csv', encoding_errors='replace')

In [65]:
cities_pop.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,8,NaN,NaN,NaN,15853,NaN,1033.0,Europe/Andorra,10/15/08
1,3041563,Andorra la Vella,Andorra la Vella,"ALV,Ando-la-Vyey,Andora,Andora la Vela,Andora ...",42.50779,1.52109,P,PPLC,AD,NaN,7,NaN,NaN,NaN,20430,NaN,1037.0,Europe/Andorra,5/30/10
2,290594,Umm al Qaywayn,Umm al Qaywayn,"Oumm al Qaiwain,Oumm al Qa��wa��n,Um al Kawain...",25.56473,55.55517,P,PPLA,AE,NaN,7,NaN,NaN,NaN,44411,NaN,2.0,Asia/Dubai,10/7/14
3,291074,Ras al-Khaimah,Ras al-Khaimah,"Julfa,Khaimah,RKT,Ra's al Khaymah,Ra's al-Chai...",25.78953,55.9432,P,PPLA,AE,NaN,5,NaN,NaN,NaN,115949,NaN,2.0,Asia/Dubai,12/5/15
4,291696,Khawr Fakk��n,Khawr Fakkan,"Fakkan,Fakk��n,Khawr Fakkan,Khawr Fakk��n,Khaw...",25.33132,56.34199,P,PPL,AE,NaN,6,NaN,NaN,NaN,33575,NaN,20.0,Asia/Dubai,10/25/13

In [66]:
# Dropping irrelavant columns
cities_pop.drop(['cc2', 'admin2 code'],axis=1, inplace=True)
cities_pop.drop(['admin3 code', 'admin4 code', 'elevation', 'modification date'], axis=1, inplace=True)
cities_pop.drop(['name', 'alternatenames', 'dem'], axis=1, inplace=True)
cities_pop.drop(['geonameid', 'feature class', 'feature code', 'admin1 code', 'timezone'], axis=1, inplace=True)
cities_pop.nunique()

In [71]:
cities_pop.head()

          asciiname  latitude longitude country code population
0      les Escaldes  42.50729   1.53414           AD      15853
1  Andorra la Vella  42.50779   1.52109           AD      20430
2    Umm al Qaywayn  25.56473  55.55517           AE      44411
3    Ras al-Khaimah  25.78953   55.9432           AE     115949
4      Khawr Fakkan  25.33132  56.34199           AE      33575

In [115]:
# Dropping na values and values where population data is not corrupted
cities_pop_valid = cities_pop.dropna(subset='population')
cities_pop_valid = cities_pop_valid[cities_pop_valid['population'].str.isnumeric()]
cities_pop_valid

              asciiname   latitude longitude country code population
0          les Escaldes   42.50729   1.53414           AD      15853
1      Andorra la Vella   42.50779   1.52109           AD      20430
2        Umm al Qaywayn   25.56473  55.55517           AE      44411
3        Ras al-Khaimah   25.78953   55.9432           AE     115949
4          Khawr Fakkan   25.33132  56.34199           AE      33575
...                 ...        ...       ...          ...        ...
23464          Bulawayo     -20.15  28.58333           ZW     699385
23465           Bindura  -17.30192  31.33056           ZW      37423
23466        Beitbridge  -22.21667        30           ZW      26459
23467           Epworth     -17.89   31.1475           ZW     123250
23468       Chitungwiza  -18.01274  31.07555           ZW     340360

[23466 rows x 5 columns]

In [117]:
# Turn data into int, then filtering for cities with more than 100,000 inhabitants
cities_pop_valid = cities_pop_valid.astype({'population': 'int'})
cities_pop_valid_above_100000 = cities_pop_valid[cities_pop_valid['population'] >= 100000]
cities_pop_valid_above_100000

In [125]:
# Merge both population and temperature datasets
large_cities_pop_temp = cities_pop_valid_above_100000.merge(cities_temp, left_on='asciiname', right_on='City')

In [126]:
# Clean it a little further
large_cities_pop_temp.drop(['asciiname','country code','Continent'], axis=1, inplace=True)

In [113]:
# Coldest city with at leas 100,000 inhabitants
large_cities_pop_temp.iloc[large_cities_pop_temp.loc[large_cities_pop_temp['population'] >= 0]['Year'].idxmin()]

latitude       62.03389
longitude     129.73306
population       235600
Country          Russia
City            Yakutsk
Jan               -38.6
Feb               -33.8
Mar               -20.1
Apr                -4.8
May                 7.5
Jun                16.4
Jul                19.5
Aug                15.2
Sep                 6.1
Oct                -7.8
Nov               -27.0
Dec               -37.6
Year               -8.8
Name: 259, dtype: object

In [111]:
# Coldest city with at leas 1,000,000 inhabitants
large_cities_pop_temp.iloc[large_cities_pop_temp.loc[large_cities_pop_temp['population'] >= 1000000]['Year'].idxmin()]

latitude          55.0415
longitude         82.9346
population        1419007
Country            Russia
City          Novosibirsk
Jan                 -16.5
Feb                 -14.8
Mar                  -7.6
Apr                   2.3
May                  11.8
Jun                  17.1
Jul                  19.4
Aug                  16.6
Sep                  10.2
Oct                   3.1
Nov                  -6.9
Dec                 -14.0
Year                  1.7
Name: 258, dtype: object

In [110]:
# Coldest city with at leas 5,000,000 inhabitants
large_cities_pop_temp.iloc[large_cities_pop_temp.loc[large_cities_pop_temp['population'] >= 5000000]['Year'].idxmin()]

latitude        45.75
longitude      126.65
population    5878939
Country         China
City           Harbin
Jan             -17.6
Feb             -12.1
Mar              -2.7
Apr               7.7
May              15.4
Jun              21.4
Jul              23.3
Aug              21.8
Sep              15.4
Oct               6.8
Nov              -4.6
Dec             -14.4
Year              5.0
Name: 104, dtype: object

In [109]:
# Coldest city with at leas 10,000,000 inhabitants
large_cities_pop_temp.iloc[large_cities_pop_temp.loc[large_cities_pop_temp['population'] >= 10000000]['Year'].idxmin()]

latitude      55.75222
longitude     37.61556
population    10381222
Country         Russia
City            Moscow
Jan               -6.5
Feb               -6.7
Mar               -1.0
Apr                6.7
May               13.2
Jun               17.0
Jul               19.2
Aug               17.0
Sep               11.3
Oct                5.6
Nov               -1.2
Dec               -5.2
Year               5.8
Name: 257, dtype: object

In [127]:
# Coldest city with at leas 20,000,000 inhabitants
large_cities_pop_temp.iloc[large_cities_pop_temp.loc[large_cities_pop_temp['population'] >= 20000000]['Year'].idxmin()]

latitude       31.22222
longitude     121.45806
population     22315474
Country           China
City           Shanghai
Jan                 4.6
Feb                 6.1
Mar                 9.6
Apr                15.1
May                20.3
Jun                24.1
Jul                28.4
Aug                28.1
Sep                24.4
Oct                19.3
Nov                13.4
Dec                 7.1
Year               16.7
Name: 98, dtype: object

In [114]:
# Coldest city with at leas 500,000 inhabitants
large_cities_pop_temp.iloc[large_cities_pop_temp.loc[large_cities_pop_temp['population'] >= 500000]['Year'].idxmin()]

latitude       52.29778
longitude     104.29639
population       586695
Country          Russia
City            Irkutsk
Jan               -17.8
Feb               -14.4
Mar                -6.4
Apr                 2.5
May                10.2
Jun                15.4
Jul                18.3
Aug                15.9
Sep                 9.2
Oct                 1.8
Nov                -7.6
Dec               -15.3
Year                1.0
Name: 261, dtype: object

In [177]:
# List of 30 coldest cities
cities_temp.sort_values('Year').head(30)

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
279,Canada,Gjoa Haven,-33.8,-34.0,-28.9,-20.4,-9.4,1.4,8.0,5.8,0.1,-9.5,-22.4,-29.9,-14.4,north america
172,Russia,Dikson,-24.8,-25.4,-22.1,-17.2,-7.8,0.4,4.9,5.5,1.6,-7.5,-17.5,-22.9,-11.1,asia
281,Canada,Iqaluit,-26.9,-27.5,-23.2,-14.2,-4.4,3.6,8.2,7.1,2.6,-3.7,-12.0,-21.3,-9.3,north america
177,Russia,Yakutsk,-38.6,-33.8,-20.1,-4.8,7.5,16.4,19.5,15.2,6.1,-7.8,-27.0,-37.6,-8.8,asia
291,Canada,Yellowknife,-25.6,-22.9,-16.8,-5.3,4.6,13.3,17.0,14.2,7.2,-1.7,-13.7,-21.8,-4.3,north america
332,United States,Fairbanks,-21.9,-18.3,-11.2,0.5,9.9,16.0,17.1,13.6,7.3,-4.2,-16.2,-19.8,-2.3,north america
298,Greenland,Nuuk,-7.4,-7.8,-8.0,-3.8,0.6,3.9,6.5,6.1,3.5,-0.7,-3.7,-6.2,-1.4,north america
164,Mongolia,Ulaanbaatar,-21.6,-16.6,-7.4,2.0,10.1,15.7,18.2,16.0,9.6,0.5,-11.9,-19.0,-0.4,asia
290,Canada,Whitehorse,-15.2,-12.7,-6.3,1.0,7.3,12.3,14.3,12.6,7.2,0.5,-9.4,-12.5,-0.1,north america
250,Russia,Murmansk,-10.1,-9.7,-5.5,-0.7,4.0,9.2,12.8,11.1,7.0,1.5,-4.8,-8.2,0.6,europe
173,Russia,Irkutsk,-17.8,-14.4,-6.4,2.5,10.2,15.4,18.3,15.9,9.2,1.8,-7.6,-15.3,1.0,asia
248,Russia,Arkhangelsk,-12.7,-11.4,-5.5,0.4,6.9,13.0,16.3,13.1,8.2,2.3,-5.1,-9.8,1.3,europe
174,Russia,Novosibirsk,-16.5,-14.8,-7.6,2.3,11.8,17.1,19.4,16.6,10.2,3.1,-6.9,-14.0,1.7,asia
175,Russia,Petropavlovsk-\nKamchatsky,-7.6,-7.1,-4.6,-0.6,3.4,8.2,11.5,12.5,9.7,4.9,-1.3,-5.8,1.9,asia
216,Finland,Oulu,-9.6,-9.3,-4.8,1.4,7.8,13.5,16.5,14.1,8.9,3.3,-2.8,-7.1,2.7,europe
319,United States,Anchorage,-8.3,-6.6,-3.0,2.7,8.8,12.9,14.9,13.7,9.2,1.6,-5.4,-7.2,2.8,north america
241,Norway,Tromsø,-3.8,-3.7,-2.3,0.7,5.1,9.2,11.8,10.9,6.9,3.2,-0.6,-2.7,2.9,europe
289,Canada,Winnipeg,-16.4,-13.2,-5.8,4.4,11.6,17.0,19.7,18.8,12.7,5.0,-4.9,-13.2,3.0,north america
285,Canada,Saskatoon,-13.9,-11.4,-4.9,5.2,11.8,16.1,19.0,18.2,12.0,4.4,-5.2,-12.4,3.3,north america
215,Finland,Kuopio,-9.2,-9.2,-4.1,2.0,9.1,14.5,17.5,15.0,9.7,4.1,-2.0,-6.7,3.4,europe
155,Kazakhstan,Nur-Sultan,-14.2,-14.1,-7.1,5.2,13.9,19.5,20.8,18.8,12.3,4.6,-5.4,-12.1,3.5,asia
278,Canada,Edmonton,-10.4,-7.6,-2.5,5.4,11.5,15.5,17.7,16.9,11.4,5.1,-4.1,-8.8,4.2,north america
223,Iceland,Reykjavík,-0.5,0.4,0.5,2.9,6.3,9.0,10.6,10.3,7.4,4.4,1.1,-0.2,4.3,europe
277,Canada,Calgary,-7.1,-5.4,-1.6,4.6,9.7,13.7,16.5,15.8,11.0,5.2,-2.4,-6.8,4.4,north america
176,Russia,Vladivostok,-12.3,-8.4,-1.9,5.1,9.8,13.6,17.6,19.8,16.0,8.9,-0.9,-9.1,4.9,asia
286,Canada,St. John's,-4.5,-4.9,-2.6,1.9,6.4,10.9,15.8,16.1,12.4,7.4,3.0,-1.5,5.0,north america
119,China,Harbin,-17.6,-12.1,-2.7,7.7,15.4,21.4,23.3,21.8,15.4,6.8,-4.6,-14.4,5.0,asia
190,Turkey,Erzurum,-10.2,-8.7,-2.7,5.1,10.2,14.1,18.4,18.7,13.9,7.5,0.4,-6.7,5.1,asia
441,Falkland Islands,Stanley,9.5,8.9,8.1,6.1,3.9,2.2,1.9,2.2,3.9,5.3,7.0,8.1,5.6,south america
240,Norway,Oslo,-4.3,-4.0,-0.2,4.5,10.8,15.2,16.4,15.2,10.8,6.3,0.7,-3.1,5.7,europe